/* images to use:
https://pixabay.com/images/search/radar/ */

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-image: url(/Users/Astara/Development/PROJECTS/project-01/starter-code/assets/aerialViewOfOcean.jpeg);
  /* background-repeat: no-repeat; */
  background-size: contain;
}

div.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* align-items: center; */
}

.flexHere {
  flex-grow: 1;
  display: flex;
}

h1 {
  font-size: 50px;
  padding: 0;
  margin: 0;
  font-family: 'Saira Stencil One';
}

.visibility {
  background-color: rgba(217, 230, 242, 0.8);
  border-radius: 10%;
  border: 15px inset rgb(46, 184, 184);
}

h2 {
  font-size: 25px;
  padding: 0;
  font-family: 'Saira Stencil One';
}

h3 {
  text-align: left;
  font-family: 'Saira Stencil One';
}

.instructionsBox {
    color: black;
    text-shadow: 1px 1px 2px grey;
    font-weight: bold;
    font-size: 15px;
}

p {
  font-family: 'Roboto Mono', monospace;
  margin: 6px;
}

.clearBoard {
  font-family: 'Saira Stencil One';
  font-size: 15px;
  border-radius: 10%;
  padding: 10px;
  margin: 10px;
}

.playerMap {
  flex: 1;
}

.playerRadar {
  flex: 1;
}

div.playerGrid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

div.computerGrid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

div.grid-item {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

div.ship1 {
  background-color: steelblue;
}

div.ship2 {
  background-color: lightslategrey
}

div.ship3 {
  background-color: lightskyblue;
}

div.ship4 {
  background-color: navy;
}

/* div.ship5 {
  background-color: lightsalmon;
} */

div.computerShip1 {
  font-size: small;
  /* background-color: white;  */
  /* if white doesnt work with background image, just put a text value in */
  /* background-color: red; */
}

div.computerShip2 {
  font-size: small;
  /* background-color: white; */
  /* background-color: orange; */
}

div.computerShip3 {
  font-size: small;
  /* background-color: white; */
  /* background-color: purple; */
}

div.computerShip4 {
  font-size: small;
  /* background-color: white; */
  /* background-color: green; */
}

/* div.computerShip5 {
  background-color: white;
  background-color: blue;
} */

div.hit {
  background-image: url(/Users/Astara/Development/PROJECTS/project-01/starter-code/assets/explosionEmoji.png);
  background-repeat: no-repeat;
  background-size: contain;
}

div.miss {
  background-image: url(/Users/Astara/Development/PROJECTS/project-01/starter-code/assets/waterWave.png);
  background-repeat: no-repeat;
  background-size: contain;
}

div.sunk {
  background-image: url(/Users/Astara/Development/PROJECTS/project-01/starter-code/assets/skullAndCrossbones.png);
  background-repeat: no-repeat;
  background-size: contain;
}