/* images to use:
https://pixabay.com/images/search/radar/ */

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-image: url(/Users/Astara/Development/PROJECTS/project-01/starter-code/assets/aerialViewOfOcean.jpeg);
  /* background-repeat: no-repeat; */
  background-size: contain;
}

div.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* align-items: center; */
}

.flexHere {
  flex-grow: 1;
  display: flex;
}

h1 {
  font-size: 50px;
  padding: 0;
  margin: 0;
  font-family: 'Saira Stencil One';
}

.visibility {
  background-color: rgba(217, 230, 242, 0.8);
  border-radius: 10%;
  border: 15px inset steelblue;
}

h2 {
  font-size: 25px;
  padding: 0;
  font-family: 'Saira Stencil One';
}

h3 {
  text-align: left;
  font-family: 'Saira Stencil One';
  font-size: 28px;
  margin: 10px;
  /* text-shadow: 1px 1px 2px grey; */
}

.instructionsBox {
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    font-size: 15px;
}

p {
  font-family: 'Roboto Mono', monospace;
  margin: 6px;
  padding: 3px;
}

p.submarine {
  color: rgb(0, 51, 153);
}

p.destroyer {
  color: lightslategrey;
}

p.aircraftCarrier {
  color: rgb(128, 170, 255);
}

p.battleship {
  color: steelblue;
}

.clearBoard {
  background-color: rgba(217, 230, 242, 0.5);
  font-family: 'Saira Stencil One';
  font-size: 15px;
  border-radius: 10%;
  padding: 5px;
  margin: 10px;
}

.playerMap {
  flex: 1;
}

.playerRadar {
  flex: 1;
}

div.playerGrid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

div.computerGrid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

div.grid-item {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(51, 102, 153);
}

div.ship1 {
  background-color: rgb(0, 51, 153);
}

div.ship2 {
  background-color: lightslategrey;
}

div.ship3 {
  background-color: rgb(128, 170, 255);
}

div.ship4 {
  background-color: steelblue;
}

/* div.ship5 {
  background-color: lightsalmon;
} */

div.computerShip1 {
  /* background-color: white; */
  font-size: small;
}

div.computerShip2 {
  /* background-color: white; */
  font-size: small;
}

div.computerShip3 {
  /* background-color: white; */
  font-size: small;
}

div.computerShip4 {
  /* background-color: white; */
  font-size: small;
}

/* div.computerShip5 {
  background-color: white;
  background-color: blue;
} */

div.hit {
  background-image: url(/Users/Astara/Development/PROJECTS/project-01/starter-code/assets/explosionEmoji.png);
  background-repeat: no-repeat;
  background-size: contain;
}

div.miss {
  background-image: url(/Users/Astara/Development/PROJECTS/project-01/starter-code/assets/waterWave.png);
  background-repeat: no-repeat;
  background-size: contain;
}

div.sunk {
  background-image: url(/Users/Astara/Development/PROJECTS/project-01/starter-code/assets/skullAndCrossbones.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}